@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@using RepositoryPatternDemo.Common.Resources 
@model RepositoryPatternDemo.Web.ViewModels.ProductCategoryRelationViewModel


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    if (Model != null &&
        Model.ProductCategoryRelations.Count() > 0)
    {
        <div class="form-group row">
            <div class="col-md-3">
                <label>@Resource.ProductName</label>
            </div>
            <div class="col-md-3">
                <label>@Resource.ProductCategoryName</label>
            </div>
        </div>

        @foreach (var productCategoryRelation in Model.ProductCategoryRelations)
        {
            <div class="form-group row">
                <div class="col-md-3">
                    <label>@productCategoryRelation.ProductName</label>
                </div>
                <div class="col-md-3">
                    <label>@productCategoryRelation.ProductCategoryName</label>
                </div>
            </div>
        }
    }
}

